<app-title></app-title>
<div class="queue__container">
    <div class="queue">
        <div class="queue__menu--top menu">
            <div class="menu__container">
                <form id="shuffle-rotate" method="get">
                    <input form="shuffle-rotate" name="queueId" type="hidden" value="123"/>
                    <button class="menu__item queue__shuffle button" name="action" type="submit" value="shuffle">Shuffle</button>
                    <button class="menu__item queue__rotate button" name="action" type="submit" value="rotate">Rotate</button>
                </form>
            </div>
        </div>
        <form id="person1" method="get">
            <input form="person1" name="queueId" type="hidden" value="123"/>
            <input form="person1" name="id" type="hidden" value="abc123"/>
        </form>
        <form id="person2" method="get">
            <input form="person2" name="queueId" type="hidden" value="123"/>
            <input form="person2" name="id" type="hidden" value="abc123"/>
        </form>
        <form id="new-person" method="post">
            <input form="new-person" name="queueId" type="hidden" value="123"/>
        </form>
        <table class="queue__table table">
            <thead class="table__head">
            <tr class="table__row">
                <th class="table__th table__cell">#</th>
                <th class="table__th table__cell">Name</th>
                <th class="table__th table__cell">Status</th>
                <th class="table__th table__cell"></th>
            </tr>
            </thead>
            <tbody class="table__body">
            <tr class="table__row">
                <td class="table__td table__cell">1</td>
                <td class="table__td table__cell">Person A</td>
                <td class="table__td table__cell">
                        <span class="table__controls">
                            <button
                                class="queue__status icon icon-time"
                                form="person1"
                                name="action"
                                type="submit"
                                value="toggleStatus"
                            ></button>
                        </span>
                </td>
                <td class="table__td table__cell">
                        <span class="table__controls">
                            <button
                                class="queue__remove icon icon-trash"
                                form="person1"
                                name="action"
                                type="submit"
                                value="remove"
                            ></button>
                        </span>
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__td table__cell">2</td>
                <td class="table__td table__cell">Person B</td>
                <td class="table__td table__cell">
                        <span class="table__controls">
                            <button
                                class="queue__status icon icon-checkmark"
                                form="person2"
                                name="action"
                                type="submit"
                                value="toggleStatus"
                            ></button>
                        </span>
                </td>
                <td class="table__td table__cell">
                        <span class="table__controls">
                            <button
                                class="queue__remove icon icon-trash"
                                form="person2"
                                name="action"
                                type="submit"
                                value="remove"
                            ></button>
                        </span>
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__td table__cell"></td>
                <td class="table__td table__cell">
                        <span class="queue__single-input">
                            <input class="queue__text-input input" name="person-name" type="text"/>
                            <button class="queue__add button" name="action" type="submit" value="add">Add</button>
                        </span>
                </td>
                <td class="table__td table__cell"></td>
                <td class="table__td table__cell"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
