<app-title *ngIf="queue" header="{{queue?.name}}"></app-title>
<div class="queue__wrapper">
    <section class="queue__control">
        <button (click)="backToGroup()" mat-stroked-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button (click)="rotate()" *ngIf="isCreator() || isMember()" color="accent" mat-flat-button>Rotate</button>
        <button (click)="shuffle()" *ngIf="isCreator()" color="accent" mat-flat-button>Shuffle</button>
        <button (click)="showAddMemberDialog()" *ngIf="isCreator()" mat-stroked-button>Add</button>
        <button (click)="showRemoveMemberConfirmationDialog()" *ngIf="isCreator()" [disabled]="!selectedUser" mat-stroked-button>Remove</button>
    </section>
    <section class="table__wrapper">
        <table [dataSource]="queue?.members ?? []" class="table queue__table mat-elevation-z1" mat-table>

            <!-- Index column -->
            <ng-container matColumnDef="position">
                <th *matHeaderCellDef mat-header-cell>#</th>
                <td *matCellDef="let i = index" mat-cell>{{ i + 1}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Name</th>
                <td *matCellDef="let member" mat-cell>{{ member.name.first }} {{member.name.last}}</td>
            </ng-container>

            <!-- Status column -->
            <ng-container matColumnDef="status">
                <th *matHeaderCellDef mat-header-cell>Status</th>
                <td *matCellDef="let member" mat-cell>
                    <ng-container *ngTemplateOutlet="isCreator() ? editableStatus : readonlyStatus, context: { member: member }">
                    </ng-container>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr (click)="select(member)"
                *matRowDef="let member; columns: displayedColumns" [class.selected-row]="isSelected(member)"
                mat-row></tr>
        </table>
    </section>
    <div class="spacer"></div>
    <section class="queue__danger">
        <button mat-stroked-button *ngIf="isCreator()" (click)="showDeleteQueueConfirmationDialog()" color="warn">Delete queue</button>
        <button mat-stroked-button *ngIf="isMember()" (click)="showLeaveQueueConfirmationDialog()" color="warn">Leave queue</button>
    </section>
</div>

<ng-template #editableStatus let-member="member">
    <button (click)="setMemberStatus($event, member.id, !member.status)" color="primary" mat-icon-button>
        <ng-container *ngTemplateOutlet="statusIcon, context: { member: member }"></ng-container>
    </button>
</ng-template>

<ng-template #readonlyStatus let-member="member">
    <button class="readonly-status" color="primary" mat-icon-button>
        <ng-container *ngTemplateOutlet="statusIcon, context: { member: member }"></ng-container>
    </button>
</ng-template>

<ng-template #statusIcon let-member="member">
    <mat-icon *ngIf="member.status">done_icon</mat-icon>
    <mat-icon *ngIf="!member.status">hourglass_empty_icon</mat-icon>
</ng-template>
