<header class="header">
	<a href="/" class="logo__wrapper" tabindex="0">
		<img src="../../assets/img/students-logo.svg" alt="Students logo" class="logo" />
	</a>
	<div class="navigation__container">
		<nav class="navigation">
			<a href="/profile" class="navigation__item" tabindex="0">Profile</a>
			<a href="/queue" class="navigation__item" tabindex="0">Queue</a>
			<a href="/archive" class="navigation__item" tabindex="0">Archive</a>
			<a href="/about" class="navigation__item" tabindex="0">About</a>
		</nav>
		<nav class="navigation">
			<a href="sign-in" class="navigation__item sign-in" tabindex="0">Sign in</a>
			<a href="sign-up" class="navigation__item sign-up" tabindex="0">Sign up</a>
		</nav>
	</div>
</header>
