<footer class="footer">
    <ul class="footer__social">
        <a class="social__item" href="https://github.com/m-dzianishchyts/students-frontend" tabindex="0" target="_blank">
            <i class="icon icon-github"></i>
        </a>
        <a class="social__item" href="https://www.linkedin.com/in/mikhail-dzianishchyts" tabindex="0" target="_blank">
            <i class="icon icon-linkedin"></i>
        </a>
        <a class="social__item" href="mailto:mail@mikhail.dzianishchyts@gmail.com?subject=Students App" tabindex="0" target="_blank">
            <i class="icon icon-email"></i>
        </a>
    </ul>
    <p class="footer__copyright">Students © 2022</p>
</footer>
