<footer class="footer">
  <ul class="footer__social">
    <a
      href="https://github.com/m-dzianishchyts/students-frontend"
      target="_blank"
      class="social__item"
      tabindex="0"
    >
      <i class="icon icon-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/mikhail-dzianishchyts"
      target="_blank"
      class="social__item"
      tabindex="0"
    >
      <i class="icon icon-linkedin"></i>
    </a>
    <a
      href="mailto:mail@mikhail.dzianishchyts@gmail.com?subject=Students App"
      target="_blank"
      class="social__item"
      tabindex="0"
    >
      <i class="icon icon-email"></i>
    </a>
  </ul>
  <p class="footer__copyright">Students © 2022</p>
</footer>
