<form
  method="post"
  class="upload-form"
  id="upload-file"
  enctype="multipart/form-data"
>
  <div class="upload-form__control-section">
    <input
      type="file"
      class="upload-form__input-file"
      id="file-upload"
      multiple
    />
    <label for="file-upload" class="upload-form__upload-file-button button"
      >Select files</label
    >
    <button type="submit" class="upload-form__submit-button button">
      Upload
    </button>
  </div>
  <ul class="upload-form__files-to-upload" id="files-to-upload">
    <li class="upload-form__file-name">626a7e08e3fc0c7c7df262aa (4)</li>
    <li class="upload-form__file-name">626a7e08e3fc0c7c7df262aa (4)</li>
  </ul>
</form>
