<form class="upload-form" enctype="multipart/form-data" id="upload-file" method="post">
    <div class="upload-form__control-section">
        <input class="upload-form__input-file" form="upload-file" id="file-upload" multiple type="file"/>
        <label class="upload-form__upload-file-button button" for="file-upload">Select files</label>
        <button class="upload-form__submit-button button" type="button">Upload</button>
    </div>
    <ul class="upload-form__files-to-upload" id="files-to-upload">
        <li class="upload-form__file-name">626a7e08e3fc0c7c7df262aa (4)</li>
        <li class="upload-form__file-name">626a7e08e3fc0c7c7df262aa (4)</li>
    </ul>
</form>
