<form method="get">
	<input type="hidden" name="id" value="abc123" />
	<div class="file">
		<div class="file__info">
			<span class="file__icon icon icon-file-word"></span>
			<div class="file__name-and-size">
				<a href="abc123" class="file__name">Just a file.docx</a>
				<p class="file__size">15 KB</p>
			</div>
		</div>
		<div class="file__time">04/21/2022 11:22</div>
		<div class="div file__controls">
			<button type="submit" name="action" value="remove" class="file__remove icon icon-close"></button>
		</div>
	</div>
</form>
