@import "constants";

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html {
    font: 14px Roboto;
}

body {
    font: inherit;
    background-color: $background-color;
    color: $base-color;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 0;

    > app-main {
        display: flex;
        flex: 1 1;
    }

    > *:not(.separator) {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.spacer {
    flex: 1 1;
}

.separator {
    border-bottom: 1px solid $border-color;
}

.button {
    padding: 7px 10px;
    border-radius: 7px;
    background-color: $secondary-color;
    color: $white-color;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        background-color: $primary-color;
    }
}

.link {
    width: fit-content;
    transition: color 0.3s, border-bottom-color 0.3s;
    border-bottom: 1px solid transparent;

    &:hover {
        color: $primary-color;
        border-bottom-color: $primary-color;
        cursor: pointer;
    }
}

.input {
    border: 1px solid darken($background-color, 10%);
    border-radius: 5px;
    padding: 5px;
}

.disabled {
    & * {
        opacity: 0.8;
    }
}

.mat-dialog-actions {
    justify-content: end;
}

.mat-simple-snackbar {
    .mat-simple-snackbar-action {
        color: map-get($primary-palette, "text");
    }
}
