$background-color: #F0F0F0;
$base-color: #2F383D;
$light-color: #73838C;
$white-color: #F4F5F6;
$primary-color: #E00000;
$secondary-color: #1F1F1F;
$border-color: darken($background-color, 10%);

$width-xs: 450px;
$width-s: 576px;
$width-m: 768px;
$width-l: 992px;
$width-xl: 1200px;

$table-border-radius: 15px;
$table-border-width: 2px;