$background-color: #f0f0f0;
$base-color: #2f383d;
$light-color: #73838c;
$white-color: #f4f5f6;
$primary-color: #e00000;
$secondary-color: #1f1f1f;
$border-color: darken($background-color, 10%);

@use "sass:map";
@use "@angular/material" as mat;

@import "./theme";

$color-config: mat.get-color-config($students-theme);
$primary-palette: map.get($color-config, "primary");
$accent-palette: map.get($color-config, "accent");
$warn-palette: map.get($color-config, "warn");

$is-dark-theme: map.get($color-config, "is-dark");
$background-config: map.get($color-config, "background");

$background-color: map.get($background-config, "background");
$base-color: #2f383d;
$light-color: #73838c;
$white-color: #f4f5f6;
$primary-color: map.get($primary-palette, "default");
$accent-color: map.get($accent-palette, "default");
$warn-color: map.get($warn-palette, "default");
$border-color: darken($background-color, 10%);

$width-xs: 450px;
$width-s: 576px;
$width-m: 768px;
$width-l: 992px;
$width-xl: 1200px;

$table-border-radius: 15px;
$table-border-width: 2px;
