@import "../../style/constants.scss";

.queue {
    display: flex;
    flex-direction: column;
    flex: 1 1;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    & form#edit {
        z-index: 2;
    }

    &__table {
        position: relative;
        width: 100%;
    }

    & .table {
        &__cell {
            &:first-child {
                width: 0%;
            }

            &:nth-child(2) {
                width: 40%;
            }

            &:nth-child(3) {
                width: 30%;
            }

            &:nth-child(4) {
                width: 10%;
            }
        }
    }

    &__menu {

        &--top,
        &--bottom {
            border-radius: 15px;
            background-color: darken($background-color, 5%);
        }

        &--top {
            padding: 15px 15px 50px 15px;
            margin-bottom: -40px;
        }

        &--bottom {
            display: flex;
            justify-content: flex-end;
            padding: 50px 0px 15px 15px;
            margin-top: -40px;

            & > .menu__container {
                width: 20%;
                justify-content: center;
            }
        }
    }

    &__status,
    &__remove {
        background-color: inherit;
        transition: color 0.3s;
        color: $light-color;

        &:hover,
        &:focus {
            color: $primary-color;
        }
    }

    &__text-input {
        width: 50%;
    }

    &__shuffle {}

    &__rotate {}

    &__status {
        font-size: 1.2rem;
    }

    &__remove {
        font-size: 1.4rem;
    }

    &__add {}

    &__single-input {
        display: flex;
        max-width: 70%;
        overflow: hidden;

        & > * {
            border-radius: 0;
        }

        & > .input {
            flex: 1 1;
            border-radius: 5px 0px 0px 5px;
        }

        & > .button {
            border-radius: 0px 5px 5px 0px;
        }
    }
}

.table {
    border-collapse: separate;
    border-spacing: 0;

    &__head {}

    &__row {
        &:nth-child(even) {
            background-color: darken($background-color, 3%);
        }

        &:nth-child(odd) {
            background-color: lighten($background-color, 3%);
        }

        &:last-child .table__td {
            border-bottom: $table-border-width solid $border-color;

            &:first-child {
                border-radius: 0px 0px 0px $table-border-radius;
            }

            &:last-child {
                border-radius: 0px 0px $table-border-radius 0px;
            }
        }
    }

    &__th {
        background-color: $primary-color;
        color: $white-color;
        border-top: $table-border-width solid $border-color;

        &:first-child {
            border-radius: $table-border-radius 0px 0px 0px;
        }

        &:last-child {
            border-radius: 0px $table-border-radius 0px 0px;
        }
    }

    &__cell {
        padding: 7px;

        &:first-child {
            border-left: $table-border-width solid $border-color;
        }

        &:last-child {
            border-right: $table-border-width solid $border-color;
        }
    }

    &__body {
        overflow-y: scroll;
    }

    &__td {}

    &__controls {
        display: flex;
        justify-content: center;
        gap: 10px;

        & .button {
            color: $base-color;
            background-color: darken($background-color, 5%);
            opacity: 0.5;

            &:hover,
            :focus {
                opacity: 1;
            }
        }
    }
}

.menu {

    &__container {
        display: flex;
        gap: 10px;

        & form#shuffle-rotate {
            display: flex;
            width: 100%;
            gap: inherit;
        }
    }

    &__item {}

    & .button {
        min-width: 100px;
    }
}