@import "../../../style/constants";

.groups {

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__control {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }

    &__group {
        &:hover {
            cursor: pointer;
        }
    }
}

.group {
    &__name {
        font-size: 1.2rem;
        white-space: nowrap;
    }

    &__members {
        margin: 0;
    }

    &__info {
        flex: 1 0;
    }

    //&__controls {
    //    flex: 0 0 20%;
    //
    //    & > mat-card-actions {
    //        margin: 0;
    //    }
    //}
}
